.reveal pre code {
    max-height: 580px;
}

.reveal h2 {
    color: #32B286
}

.footer {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
}    
.footer span {
    display: table-cell;
    padding: 0px 15px 5px;
        
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 60%;
}
.footer span:nth-of-type(1) {
    text-align: left;
}
.footer span:nth-last-child(1) {
    text-align: right;
}